<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>タイマー</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
      }

      .header {
        text-align: center;
        margin-bottom: 16px;
        margin-top: 8px;
        color: #333;
      }

      .timer-time {
        font-size: 7rem;
        line-height: 7rem;
        text-align: center;
        font-family: monospace;
        margin-bottom: 16px;
      }

      .timer-control {
        margin-bottom: 16px;
        text-align: center;
      }

      .timer-control-button {
        font-size: 1.4rem;
        margin: 8px;
        padding: 8px;
        border-radius: 12px;
        font-family: monospace;
      }

      .timer-control-button:disabled {
        opacity: 0.5;
      }

      .how-to-use {
        font-size: 0.7rem;
        color: #333;
        text-align: center;
        margin-bottom: 24px;
      }

      .message {
        display: block;
        margin: auto;
        font-size: 0.9rem;
        line-height: 1.1rem;
        width: 300px;
        margin-bottom: 16px;
        border: solid 1px #ccc;
      }

      .copyright,
      .copyright a {
        font-size: 0.7rem;
        color: #aaa;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="header">カウントダウンタイマー</div>
    <div id="timer-ui">
      <time-display :sec="currentSec"></time-display>
      <div class="timer-control">
        <div>
          <button
            @click="startButton"
            class="timer-control-button"
            :disabled="!timer.state.canGoToCountingDown()"
          >
            スタート
          </button>
          <button
            @click="stopButton"
            class="timer-control-button"
            :disabled="!timer.state.canGoToPausingCountDown()"
          >
            一時停止
          </button>
        </div>
        <div>
          <button
            @click="restoreButton"
            class="timer-control-button"
            :disabled="!timer.state.isCountingDownCompleted()"
          >
            鳴動停止
          </button>
          <button @click="resetButton" class="timer-control-button">
            リセット
          </button>
        </div>
        <div>
          <button
            @click="addMinutesButton(1)"
            class="timer-control-button"
            :disabled="!timer.state.canGoToSettingTime()"
          >
            +分
          </button>
          <button
            @click="addSecondsButton(10)"
            class="timer-control-button"
            :disabled="!timer.state.canGoToSettingTime()"
          >
            +10秒
          </button>
          <button
            @click="addSecondsButton(1)"
            class="timer-control-button"
            :disabled="!timer.state.canGoToSettingTime()"
          >
            +秒
          </button>
        </div>
        <div>
          <button
            @click="setSecButton(60)"
            class="timer-control-button"
            :disabled="!timer.state.canGoToSettingTime()"
          >
            1分
          </button>
          <button
            @click="setSecButton(120)"
            class="timer-control-button"
            :disabled="!timer.state.canGoToSettingTime()"
          >
            2分
          </button>
          <button
            @click="setSecButton(180)"
            class="timer-control-button"
            :disabled="!timer.state.canGoToSettingTime()"
          >
            3分
          </button>
          <button
            @click="setSecButton(240)"
            class="timer-control-button"
            :disabled="!timer.state.canGoToSettingTime()"
          >
            4分
          </button>
          <button
            @click="setSecButton(360)"
            class="timer-control-button"
            :disabled="!timer.state.canGoToSettingTime()"
          >
            6分
          </button>
        </div>
        <div>
          <button @click="testPlaySoundButton" class="timer-control-button">
            音テスト再生
          </button>
          <button
            v-if="!soundEnabled"
            :disabled="!testPlayFinished"
            @click="enableSoundButton"
            class="timer-control-button"
          >
            音を有効化
          </button>
          <button
            v-if="soundEnabled"
            @click="disableSoundButton"
            class="timer-control-button"
          >
            音を無効化
          </button>
        </div>
      </div>

      <input type="text" readonly :value="message" class="message" />

      <div class="how-to-use">
        音を有効化する場合は先に「音テスト再生」を押してください
      </div>
    </div>
    <div class="copyright">
      デザイン・効果音募集中<br />
      <a href="https://github.com/ti-aiuto/online-debate-timer"
        >https://github.com/ti-aiuto/online-debate-timer</a
      >
    </div>
    <script type="text/javascript">
      // タイマーの状態遷移を整理したオブジェクト
      const TkTimerStateValue = Object.freeze({
        INITIAL_STATE: 'INITIAL_STATE',
        SETTING_TIME: 'SETTING_TIME',
        COUNTING_DOWN: 'COUNTING_DOWN',
        PAUSING_COUNTING_DOWN: 'PAUSING_COUNTING_DOWN',
        COUNTING_DOWN_COMPLETED: 'COUNTING_DOWN_COMPLETED',
      })
      const TkTimerState = function () {
        this.state = TkTimerStateValue.INITIAL_STATE
      }
      TkTimerState.prototype.canGoToInitialState = function () {
        return true // どこからも許可
      }
      TkTimerState.prototype.goToInitialState = function () {
        if (!this.canGoToInitialState()) {
          return
        }
        this.state = TkTimerStateValue.INITIAL_STATE
      }
      TkTimerState.prototype.isInitialState = function () {
        return this.state === TkTimerStateValue.INITIAL_STATE
      }
      TkTimerState.prototype.canGoToSettingTime = function () {
        return (
          this.isInitialState() ||
          this.isSettingTime() ||
          this.isCountingDownCompleted()
        )
      }
      TkTimerState.prototype.goToSettingTime = function () {
        if (!this.canGoToSettingTime()) {
          return
        }
        this.state = TkTimerStateValue.SETTING_TIME
      }
      TkTimerState.prototype.isSettingTime = function () {
        return this.state === TkTimerStateValue.SETTING_TIME
      }
      TkTimerState.prototype.canGoToCountingDown = function () {
        return this.isSettingTime() || this.isPausingCountDown()
      }
      TkTimerState.prototype.goToCountingDown = function () {
        if (!this.canGoToCountingDown()) {
          return
        }
        this.state = TkTimerStateValue.COUNTING_DOWN
      }
      TkTimerState.prototype.isCountingDown = function () {
        return this.state === TkTimerStateValue.COUNTING_DOWN
      }
      TkTimerState.prototype.canGoToPausingCountDown = function () {
        return this.isCountingDown()
      }
      TkTimerState.prototype.goToPausingCountDown = function () {
        if (!this.canGoToPausingCountDown()) {
          return
        }
        this.state = TkTimerStateValue.PAUSING_COUNTING_DOWN
      }
      TkTimerState.prototype.isPausingCountDown = function () {
        return this.state === TkTimerStateValue.PAUSING_COUNTING_DOWN
      }
      TkTimerState.prototype.canGoToCountingDownCompleted = function () {
        return this.isCountingDown()
      }
      TkTimerState.prototype.goToCountingDownCompleted = function () {
        if (!this.canGoToCountingDownCompleted()) {
          return
        }
        this.state = TkTimerStateValue.COUNTING_DOWN_COMPLETED
      }
      TkTimerState.prototype.isCountingDownCompleted = function () {
        return this.state === TkTimerStateValue.COUNTING_DOWN_COMPLETED
      }

      const TIMER_UPPER_LIMIT = 60 * 99 + 60 - 1

      // タイマーロジック
      const TkTimer = function () {
        this.state = new TkTimerState()
        this.init()
      }
      TkTimer.prototype.setTickCallback = function (callback) {
        this.tickCallback = callback
      }
      TkTimer.prototype.setCountDownCompleteCallback = function (callback) {
        this.countDownCompleteCallback = callback
      }
      TkTimer.prototype.clearTimer = function () {
        clearInterval(this.timerId)
        this.timerId = null
        this.tickStartedAtMsec = null
        this.lastTimeTickedSec = 0
      }
      TkTimer.prototype.init = function () {
        this.clearTimer()
        this.rememberedTargetSec = 0
        this.currentSec = 0
      }
      TkTimer.prototype.notifyCurrentSec = function () {
        if (this.tickCallback) {
          this.tickCallback(this.currentSec)
        }
      }
      TkTimer.prototype.setSec = function (secArg) {
        if (!this.state.canGoToSettingTime()) {
          return
        }
        if (!(secArg + '').match(/^\d+$/)) {
          return
        }
        sec = Number(secArg)
        if (sec < 0) {
          return
        }
        if (sec > TIMER_UPPER_LIMIT) {
          sec = TIMER_UPPER_LIMIT
        }
        this.currentSec = sec
        this.notifyCurrentSec()
        this.state.goToSettingTime()
      }
      TkTimer.prototype.addSeconds = function (sec) {
        if (!this.state.canGoToSettingTime()) {
          return
        }
        this.setSec(this.currentSec + sec)
      }
      TkTimer.prototype.onSecTick = function () {
        if (this.state.isCountingDown()) {
          this.currentSec -= 1
          this.notifyCurrentSec()
          if (this.currentSec === 0) {
            if (this.countDownCompleteCallback) {
              this.countDownCompleteCallback()
            }
            this.state.goToCountingDownCompleted()
            this.clearTimer()
          }
        } else {
          // いつかupも実装
        }
      }
      TkTimer.prototype.onIntervalTick = function () {
        // スタート時点の時刻と現在時刻を比較して正確な経過時間を計測する
        const currentTime = Date.now()
        const d = currentTime - this.tickStartedAtMsec
        const timeTickedSec = Math.floor(d / 1000)
        if (timeTickedSec !== this.lastTimeTickedSec) {
          this.onSecTick()
          this.lastTimeTickedSec = timeTickedSec
        }
      }
      TkTimer.prototype.start = function () {
        if (this.state.canGoToCountingDown()) {
          if (this.currentSec === 0) {
            return
          }
          if (this.state.isSettingTime()) {
            // 新規にカウントダウンをスタートする場合だけ設定時間を覚えておく
            this.rememberedTargetSec = this.currentSec
          }
          this.state.goToCountingDown()
          this.tickStartedAtMsec = Date.now()
          const that = this
          this.timerId = setInterval(function () {
            that.onIntervalTick()
          }, 50)
        } else {
          // いつかupも実装
        }
      }
      TkTimer.prototype.pause = function () {
        if (!this.state.canGoToPausingCountDown()) {
          return
        }
        this.clearTimer()
        this.state.goToPausingCountDown()
      }
      TkTimer.prototype.restore = function () {
        if (this.state.canGoToSettingTime()) {
          this.setSec(this.rememberedTargetSec)
          // 遷移は中でやってくれる
        }
      }
      TkTimer.prototype.reset = function () {
        if (this.state.canGoToInitialState()) {
          this.init()
          this.notifyCurrentSec()
          this.state.goToInitialState()
        }
      }

      const zeroPadding = function (number) {
        return ('000' + number).slice(-2)
      }

      const toHankakuNumber = function (str) {
        return str.replace(/[０-９]/g, function (s) {
          return String.fromCharCode(s.charCodeAt(0) - 0xfee0)
        })
      }

      // タイマーの数値表示部分のコンポーネント
      Vue.component('time-display', {
        template: '<div class="timer-time">{{minutes}}:{{seconds}}</div>',
        props: {
          sec: {
            type: Number,
            required: true,
          },
        },
        computed: {
          minutes: function () {
            return zeroPadding(Math.floor(this.sec / 60))
          },
          seconds: function () {
            return zeroPadding(this.sec % 60)
          },
        },
      })

      // タイマーUI
      const app = new Vue({
        el: '#timer-ui',
        data: function () {
          const timer = new TkTimer()
          timer.setTickCallback(this.onTick)
          const timeUpAudio = new Audio('timer-timeup.mp3')
          timeUpAudio.loop = true
          timeUpAudio.load()
          timer.setCountDownCompleteCallback(this.onCountDownComplete)
          return {
            currentSec: 0,
            timer: timer,
            timeUpAudio: timeUpAudio,
            testPlayFinished: false,
            soundEnabled: false,
            message: null,
          }
        },
        methods: {
          onTick: function (sec) {
            this.currentSec = sec
          },
          onCountDownComplete: function () {
            this.message = 'カウント終了';
            this.startTimeUpAudio()
          },
          startTimeUpAudio: function () {
            if (!this.soundEnabled) {
              return
            }
            try {
              this.timeUpAudio.currentTime = 0
              this.timeUpAudio.loop = true
              this.timeUpAudio.play()
            } catch (e) {}
          },
          stopTimeUpAudio: function () {
            try {
              this.timeUpAudio.pause()
            } catch (e) {}
          },
          startButton: function () {
            this.timer.start()
            this.message = null;
          },
          stopButton: function () {
            this.stopTimeUpAudio()
            this.timer.pause()
          },
          restoreButton: function () {
            this.stopTimeUpAudio()
            this.timer.restore()
            this.message = null;
          },
          resetButton: function () {
            this.stopTimeUpAudio()
            this.timer.reset()
            this.message = null;
          },
          addMinutesButton: function (min) {
            this.stopTimeUpAudio()
            this.timer.pause()
            this.timer.addSeconds(min * 60)
          },
          addSecondsButton: function (sec) {
            this.stopTimeUpAudio()
            this.timer.addSeconds(sec)
          },
          setSecButton: function (sec) {
            this.stopTimeUpAudio()
            this.timer.setSec(sec)
          },
          testPlaySoundButton: function () {
            try {
              this.timeUpAudio.currentTime = 7.3
              this.timeUpAudio.loop = false
              this.timeUpAudio.play()
            } catch (e) {}
            this.testPlayFinished = true
          },
          enableSoundButton: function () {
            this.soundEnabled = true
            this.message = 'カウント終了の効果音を有効化しました';
          },
          disableSoundButton: function () {
            this.soundEnabled = false
            this.message = 'カウント終了の効果音を無効化しました';
          },
        },
        mounted: function () {},
      })
    </script>
  </body>
</html>
